
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:darkkhaki;
    font-family: 'Titillium Web', sans-serif;
    
}



h1 {
    text-align: center;
}

span {
    border: 2px;
    border-style: solid;
    padding: 2px;
    height: 50px;
    width: 150px;
    margin: 10px;
    background-color: white;
}

input {
    margin: 10px;
}

button {
    margin: 10px;
}
